<p style="text-align:left"><img src="logo.png"></p>
Computación científica con Python<br>
Mª Luisa  Díez Platas

# Pandas

In [1]:
pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/11/17/fb1a34f3e73debbc2fd15a01ea17eaab3717943d08463ff4979a4f024b3f/pandas-2.1.4-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.1.4-cp311-cp311-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\pablo ruiz\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pablo ruiz\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Obtaining dependency information for tzdata>=2022.1 from https://files.pythonhosted.org/packages/a3/fb/52b62131e21b24ee297e4e95ed41eba29647dad0e0051a92bb66b43c70ff/tzdata-2023.4-py2.py3-none-any.whl.metadata
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\pablo ruiz\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.4-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/10.6 MB 2.6 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/10.6 MB 12.2 MB/s eta 0:00:01
   ------------ --------------------------- 3.4/10.6 MB 26.8 MB/s eta 0:00:01
   --------------------------- ------------ 7.4/10.6 MB 43.1 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 36.8 MB/s eta 0:00:01
   ----------------------------------- ---- 9.5/10.6 MB 35.5 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 43.7 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 40.9 MB/s eta 0:00:00
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ---------------------------------------- 0.0/502.5 kB ? eta -:--:--
   ---------------------------------------- 502.5/502.5 kB ? eta 0:00:00
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ---------------------------------------- 0.0/346.6 kB ? eta -:--:--
   ---------------------------------------- 346.6/346.6 kB ? eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.1.4 pytz-2023.3.post1 tzdata-2023.4
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Users\Pablo Ruiz\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\pablo ruiz\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.26.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Users\Pablo Ruiz\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
import numpy as np
import pandas as pd

Crear una serie pasando una lista de valores

In [5]:
serieTemperaturas=pd.Series([37.5,25,20.5,30] )
serieTemperaturas

0    37.5
1    25.0
2    20.5
3    30.0
dtype: float64

In [7]:
serieTemperaturasDos=pd.Series({ "temperaturas" : [37.5,25,20.5,30] })

Crear una serie pasando un diccionario

In [8]:
serieTemperaturasDos

temperaturas    [37.5, 25, 20.5, 30]
dtype: object

Crear un Dataframe pasando un array de Numpy

In [9]:
fechas=pd.date_range("20210101", periods=6)
fechas

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
dataFrame=pd.DataFrame(np.random.randn(6,4), index=fechas, columns=list("1234"))

dataFrame

                   1         2         3         4
2021-01-01 -0.815951 -3.141653 -1.532003  0.068383
2021-01-02  3.092696  1.207342  0.310240 -0.724292
2021-01-03 -0.326294 -0.405143 -1.306626 -0.137777
2021-01-04 -0.208153  1.310043  2.779262  0.498026
2021-01-05 -0.204333 -0.321365 -1.253358 -1.222244
2021-01-06  0.129098  0.892627  0.237451 -0.488709

In [13]:
dataFrame.dtypes

1    float64
2    float64
3    float64
4    float64
dtype: object

Crear un DataFrame pasando un diccionario
* Las claves del diccionario son los nombres de las columnas
* Una columna de cada tipo

In [14]:
dataFrame2 = pd.DataFrame(
    {
          "A": 1.0,
         "B": pd.Timestamp("20210101"),
           "C": pd.Series(1, index=list(range(4)), dtype="float32"),
          "D": np.array([3] * 4, dtype="int32"),
          "E": pd.Categorical(["test", "entrenamiento", "resultados", "errores"]),
          "F": "cadena",
       }
   )
dataFrame2

     A          B    C  D              E       F
0  1.0 2021-01-01  1.0  3           test  cadena
1  1.0 2021-01-01  1.0  3  entrenamiento  cadena
2  1.0 2021-01-01  1.0  3     resultados  cadena
3  1.0 2021-01-01  1.0  3        errores  cadena

Cada columna puede tene un tipo. ¡Las columnas son series!!

In [15]:
dataFrame2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

#  Visualización de datos

Las primeras y las últimas filas

In [16]:
dataFrame2.head()

     A          B    C  D              E       F
0  1.0 2021-01-01  1.0  3           test  cadena
1  1.0 2021-01-01  1.0  3  entrenamiento  cadena
2  1.0 2021-01-01  1.0  3     resultados  cadena
3  1.0 2021-01-01  1.0  3        errores  cadena

In [17]:
dataFrame2.tail(2)

     A          B    C  D           E       F
2  1.0 2021-01-01  1.0  3  resultados  cadena
3  1.0 2021-01-01  1.0  3     errores  cadena

In [18]:
ultimas=dataFrame2.tail(2)
ultimas

     A          B    C  D           E       F
2  1.0 2021-01-01  1.0  3  resultados  cadena
3  1.0 2021-01-01  1.0  3     errores  cadena

## Indices de las filas y de las columnas

In [19]:
dataFrame2.index

Index([0, 1, 2, 3], dtype='int64')

In [20]:
dataFrame.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
dataFrame.columns

Index(['1', '2', '3', '4'], dtype='object')

In [22]:
dataFrame2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

# Ordenaciones
Ordenar los índices de las columnas

In [23]:
dataFrame2.sort_index(axis=1,ascending=False)

        F              E  D    C          B    A
0  cadena           test  3  1.0 2021-01-01  1.0
1  cadena  entrenamiento  3  1.0 2021-01-01  1.0
2  cadena     resultados  3  1.0 2021-01-01  1.0
3  cadena        errores  3  1.0 2021-01-01  1.0

Ordenar los índices de las filss

In [26]:
dataFrame

                   1         2         3         4
2021-01-01 -0.815951 -3.141653 -1.532003  0.068383
2021-01-02  3.092696  1.207342  0.310240 -0.724292
2021-01-03 -0.326294 -0.405143 -1.306626 -0.137777
2021-01-04 -0.208153  1.310043  2.779262  0.498026
2021-01-05 -0.204333 -0.321365 -1.253358 -1.222244
2021-01-06  0.129098  0.892627  0.237451 -0.488709

In [27]:
dataFrame.sort_index(axis=0, ascending=False)

                   1         2         3         4
2021-01-06  0.129098  0.892627  0.237451 -0.488709
2021-01-05 -0.204333 -0.321365 -1.253358 -1.222244
2021-01-04 -0.208153  1.310043  2.779262  0.498026
2021-01-03 -0.326294 -0.405143 -1.306626 -0.137777
2021-01-02  3.092696  1.207342  0.310240 -0.724292
2021-01-01 -0.815951 -3.141653 -1.532003  0.068383

Ordenar por los valores de una columna

In [28]:
dataFrame2.sort_values(by="E")

     A          B    C  D              E       F
1  1.0 2021-01-01  1.0  3  entrenamiento  cadena
3  1.0 2021-01-01  1.0  3        errores  cadena
2  1.0 2021-01-01  1.0  3     resultados  cadena
0  1.0 2021-01-01  1.0  3           test  cadena

# Selectores

Seleccionar una columna, obtener una serie

In [29]:
dataFrame2["E"]

0             test
1    entrenamiento
2       resultados
3          errores
Name: E, dtype: category
Categories (4, object): ['entrenamiento', 'errores', 'resultados', 'test']

In [37]:
dataFrame2[0:2]

     A          B    C  D              E       F
0  1.0 2021-01-01  1.0  3           test  cadena
1  1.0 2021-01-01  1.0  3  entrenamiento  cadena

In [31]:
dataFrame["20210106":"20210104"]

Empty DataFrame
Columns: [1, 2, 3, 4]
Index: []

In [32]:
dataFrame["20210102":"20210106"]

                   1         2         3         4
2021-01-02  3.092696  1.207342  0.310240 -0.724292
2021-01-03 -0.326294 -0.405143 -1.306626 -0.137777
2021-01-04 -0.208153  1.310043  2.779262  0.498026
2021-01-05 -0.204333 -0.321365 -1.253358 -1.222244
2021-01-06  0.129098  0.892627  0.237451 -0.488709

Selección con etiquetas

In [38]:
dataFrame.loc[:,["1","3"]]

                   1         3
2021-01-01 -0.815951 -1.532003
2021-01-02  3.092696  0.310240
2021-01-03 -0.326294 -1.306626
2021-01-04 -0.208153  2.779262
2021-01-05 -0.204333 -1.253358
2021-01-06  0.129098  0.237451

In [39]:
dataFrame.loc["20210103"]

1   -0.326294
2   -0.405143
3   -1.306626
4   -0.137777
Name: 2021-01-03 00:00:00, dtype: float64

Selección  de filas y columnas

In [41]:
dataFrame2

     A          B    C  D              E       F
0  1.0 2021-01-01  1.0  3           test  cadena
1  1.0 2021-01-01  1.0  3  entrenamiento  cadena
2  1.0 2021-01-01  1.0  3     resultados  cadena
3  1.0 2021-01-01  1.0  3        errores  cadena

In [42]:
dataFrame2.loc[1:2,["E","F"]]

               E       F
1  entrenamiento  cadena
2     resultados  cadena

Selección por posición

In [44]:
dataFrame.iloc[3]

1   -0.208153
2    1.310043
3    2.779262
4    0.498026
Name: 2021-01-04 00:00:00, dtype: float64

In [45]:
dataFrame2.iloc[:,3]

0    3
1    3
2    3
3    3
Name: D, dtype: int32

In [46]:
dataFrame2.iloc[0:2,2:5]

     C  D              E
0  1.0  3           test
1  1.0  3  entrenamiento

Selección por condiciones

In [47]:
dataFrame[dataFrame>0]

                   1         2         3         4
2021-01-01       NaN       NaN       NaN  0.068383
2021-01-02  3.092696  1.207342  0.310240       NaN
2021-01-03       NaN       NaN       NaN       NaN
2021-01-04       NaN  1.310043  2.779262  0.498026
2021-01-05       NaN       NaN       NaN       NaN
2021-01-06  0.129098  0.892627  0.237451       NaN

In [50]:
dataFrame2[dataFrame2["E"]=="test"]

     A          B    C  D     E       F
0  1.0 2021-01-01  1.0  3  test  cadena